[submodule "nvim/.vim/bundle/vimtex"]
	path = nvim/.vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "nvim/.vim/bundle/vim-sneak"]
	path = nvim/.vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "nvim/.vim/bundle/vim-livedown"]
	path = nvim/.vim/bundle/vim-livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "nvim/.vim/bundle/python-mode"]
	path = nvim/.vim/bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "nvim/.vim/bundle/goyo.vim"]
	path = nvim/.vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "nvim/.vim/bundle/Vundle.vim"]
	path = nvim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
